@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

*{
font-family: "Outfit", sans-serif;

}


@theme {
  --color-primary: #3893EE;
  --color-primary-dull: #6D60EF;
}

.no-scrollbar ::-webkit-scrollbar{
  display: none;
}